<h1>Listing movies</h1>

<table>
  <tr>
    <th>Title</th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @movies.each do |movie| %>
  <tr>
    <td><%= movie.title %></td>
    <td>
      <ul class="rating">
        <% form_id = "movie_#{movie.id}_rating" %>
        <%= form_for movie.ratings.last || movie.ratings.build, :html => {:id => "movie_#{movie.id}_rating", :class => "star_rating_form"} do |f| %>
          <%= f.hidden_field :movie_id %>
          <%= f.hidden_field :stars, :id => "#{form_id}_stars" %>
        <% end %>
        <% (1..5).each do |i| %>
          <li class="rating_star" data-stars="<%= i %>" data-form-id="<%= form_id %>" id="<%= "#{form_id}_#{i}" %>"></li>
        <% end %>
      </ul>
    </td>
    <td><%= link_to 'Show', movie %></td>
    <td><%= link_to 'Edit', edit_movie_path(movie) %></td>
    <td><%= link_to 'Destroy', movie, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Movie', new_movie_path %>
