<p id="notice"><%= notice %></p>

<p>
  <b>Movie:</b>
  <%= @rating.movie %>
</p>

<p>
  <b>Stars:</b>
  <%= @rating.stars %>
</p>


<%= link_to 'Edit', edit_rating_path(@rating) %> |
<%= link_to 'Back', ratings_path %>
